In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
df_rio = pd.read_csv('../../../imagem/airbnb/rio_de_janeiro/listings.csv.gz', compression='gzip',)
df_rio.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,17878,https://www.airbnb.com/rooms/17878,20230328184454,2023-03-29,city scrape,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",Please note that elevated rates applies for Ne...,This is the one of the bests spots in Rio. Bec...,https://a0.muscache.com/pictures/65320518/3069...,68997,...,4.90,4.77,4.65,NaN,f,1,1,0,0,1.86
1,200568,https://www.airbnb.com/rooms/200568,20230328184454,2023-03-29,city scrape,30m of Ipa Beach e fins de semana special price !,"ATENÇÃO, a eletricidade e gás são pagas pelo h...","Praia, restaurantes, boates, centros culturais...",https://a0.muscache.com/pictures/0586b774-3641...,980805,...,4.97,4.95,4.73,NaN,f,6,4,2,0,1.45
2,202778,https://www.airbnb.com/rooms/202778,20230328184454,2023-03-29,city scrape,Best Studio in Rio - Copacabana,If you looking to staying in a beautiful moder...,Besides Copacabana been the most famous touris...,https://a0.muscache.com/pictures/2015102/18eea...,529105,...,4.94,4.85,4.68,NaN,f,3,3,0,0,1.58
3,24480,https://www.airbnb.com/rooms/24480,20230328184454,2023-03-29,city scrape,"Nice and cozy near Ipanema Beach, w/ home office","My studio is located in the best of Ipanema, t...","The beach, the lagoon, Ipanema is a great loca...",https://a0.muscache.com/pictures/miso/Hosting-...,99249,...,4.90,4.97,4.56,NaN,f,3,3,0,0,0.56
4,203674,https://www.airbnb.com/rooms/203674,20230328184454,2023-03-29,city scrape,"IPANEMA PENTHOUSE,JACUZZI + STUNNING CRISTO VI...",RETRO CHIC IN A TRULY BREATHTAKING SETTING!<br...,Ipanema is almost like a small kingdom set apa...,https://a0.muscache.com/pictures/2421b3ee-0f2e...,999125,...,4.91,4.95,4.44,NaN,f,1,1,0,0,0.36

In [4]:
df_diego = pd.read_csv('../../../imagem/airbnb/san_diego/listings.csv.gz', compression='gzip')
df_diego.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,610920,https://www.airbnb.com/rooms/610920,20230324234210,2023-03-25,city scrape,La Jolla Beach Beauty ~ 3bd/2ba walk to beach/...,Perfect for family vacations or a romantic get...,"Bird Rock Village... shops, restaurants, coffe...",https://a0.muscache.com/pictures/54a9e30a-399a...,3028993,...,5.00,5.00,4.71,NaN,f,1,1,0,0,0.13
1,6,https://www.airbnb.com/rooms/6,20230324234210,2023-03-25,previous scrape,Stay in the 1st house EVER posted on Airbnb,"You read that right, this craftsman home was t...","We have the best Neighborhood in San Diego, in...",https://a0.muscache.com/pictures/miso/Hosting-...,29,...,4.97,4.77,4.80,STR-04545L,f,1,1,0,0,0.85
2,29967,https://www.airbnb.com/rooms/29967,20230324234210,2023-03-25,city scrape,"Great home, 10 min walk to Beach","This 2 bedroom, 2 full bathroom home offers al...",NaN,https://a0.muscache.com/pictures/76103867/c9b5...,129123,...,4.91,4.81,4.76,NaN,f,5,5,0,0,0.59
3,1166766,https://www.airbnb.com/rooms/1166766,20230324234210,2023-03-25,city scrape,Luxury Gated Mission Bay Estate,"<b>The space</b><br />Ultra luxury home, fully...",NaN,https://a0.muscache.com/pictures/d1226e08-7e26...,6388958,...,4.54,4.83,4.42,STR-00048L,f,3,3,0,0,0.22
4,1167130,https://www.airbnb.com/rooms/1167130,20230324234210,2023-03-25,city scrape,Luxury Tuscan Estate,Welcome to the largest home close to Downtown ...,Historic Old Town. Walking distance to numero...,https://a0.muscache.com/pictures/32076565/bef6...,6388958,...,4.83,4.79,4.58,STR-00538L,t,3,3,0,0,0.24

In [10]:
df_diego.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [26]:
df_rio["host_response_time"]

0            within an hour
1            within an hour
2            within an hour
3        within a few hours
4                       NaN
                ...
30471        within an hour
30472        within an hour
30473    within a few hours
30474    within a few hours
30475    within a few hours
Name: host_response_time, Length: 30476, dtype: object

In [17]:
print(df_rio.shape[0],"--",df_rio.shape[1],) #Provide the number of rows in the dataset
print(df_diego.shape[0],"--",df_diego.shape[1],)

30476 -- 75
12871 -- 75

In [25]:
np.sum(np.sum(df_rio.isnull()) > .75)

37

In [46]:
np.sum(df_rio['host_response_time'].isnull()!=0)

4695

In [27]:
df_rio['host_response_time'].value_counts().reset_index()

   host_response_time  count
0      within an hour  14644
1  within a few hours   6435
2        within a day   3067
3  a few days or more   1635

In [31]:
valuess=  df_diego['host_response_time'].value_counts().reset_index()

In [38]:
valuess.values[:][:,1]/df_diego.shape[0]

array([0.7269054463522647, 0.10030300675938156, 0.04972418615492192,
       0.01188718825266102], dtype=object)

In [39]:
valuess_rio=  df_rio['host_response_time'].value_counts().reset_index()

In [40]:
valuess_rio.values[:][:,1]/df_rio.shape[0]

array([0.4805092531828324, 0.21114975718598242, 0.1006365664785405,
       0.05364877280483003], dtype=object)

In [9]:
np.sum(df_rio["host_is_superhost"]=='t')/df_rio.shape[0]*100

23.431552697204356

In [15]:
np.sum(df_diego["host_is_superhost"]=='t')/df_diego.shape[0]*100

41.65954471292052

In [11]:
2+2

4

In [18]:
def removing_nan(df, columns_name):
    for col in columns_name:
        df = df.dropna(subset=[col], how='any')
    return df

In [19]:
#removing

columns_name = [  'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost']

In [20]:
df_diego_small = removing_nan(df_diego, columns_name)

In [22]:
np.sum(df_diego_small['host_response_time'].isnull()!=0)

0

In [23]:
df_rio_small = removing_nan(df_rio, columns_name)

In [26]:
np.sum(df_rio_small['host_response_time'].isnull()!=0)

0

In [27]:
df_rio['host_response_rate'].value_counts().reset_index()

   host_response_rate  count
0                100%  16911
1                 90%   1136
2                  0%   1113
3                 80%    622
4                 96%    478
..                ...    ...
71                54%      2
72                53%      1
73                21%      1
74                27%      1
75                46%      1

[76 rows x 2 columns]

In [31]:
np.sum(df_rio_small['host_response_rate']=='100%')/df_rio_small.shape[0]

0.6445750097924011

In [32]:
np.sum(df_diego_small['host_response_rate']=='100%')/df_diego_small.shape[0]

0.7338572364112639